<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jabon-jabot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/84f3a058-ac7f-4d27-9d62-bc2a671c2ee8/resourceGroups/Jabot/providers/Microsoft.Web/sites/jabon-jabot</ResourceId>
    <UserName>$jabon-jabot</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jabon-jabot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>